# top issue to avoid is sharing copywritten code in files

*.jar
/jarmods
mods/*

# extra protection of accidentally adding other problematic file types
*.exe
*.msi

*.zip
*.rar
*.7z
*.tgz
*.gz

*.log
*.sig
*.mca
*.py

*.png
*.jpg
*.jpeg

*.json