# top issue to avoid is sharing copywritten code in files

*.jar
/jarmods
mods/*

# extra protection of accidentally adding other problematic file types
*.exe
*.msi

*.zip
*.rar
*.7z
*.tgz
*.gz

*.log
*.sig
*.mca
*.py

*.png
*.jpg
*.jpeg
*.html

*.json
.packignore
local/ftbutilities/all_permissions.html
local/ftbutilities/all_permissions_full_list.txt
saves/*
crash-reports/*
journeymap/*
llibrary/*
shaderpacks/KUDA-Shaders v6.0 Legacy - Preview.zip.txt
shaderpacks/SEUS-Renewed-1.0.0.zip.txt
optionsshaders.txt
